.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    bottom: 0;
    background: #21325e;
    color: white;
    justify-content: center;
}

.socials {
    font-size: 25px;
    color: white;
}